* {
	font-family: "Arial Rounded MT Bold", Verdana, Geneva, sans-serif;
  	font-color: #333;
}

.header {
  	padding: 4px;
  	text-align: center;
}

.title {
	margin-left: 19%;
}	

h2 {
	margin-left: 22%;
    }
	
p {
  	margin-left: 25%;
    	margin-right: 25%;
	fomt-size: 135%;
}

p.linkArrow {
	font-size: 300%;
}

#email {
  	margin-left: 15px;
}

a:link, a:visited, a:active{
  	color: #1d6ff2;
  	text-decoration: none;
}

a:hover {
  	text-decoration: underline;
}

hr {
  	border: 1px solid black;
  	width: 600px;
  	border-radius: 10px;
  	margin: 0;
}

ul {
    	border-width: 0;
    	list-style: none;
    	margin: 4px;
    	padding: 10px;
    	text-align: center;
    	background-color: #0c0849;
}
li {
    	display: inline;
}
li a{
    	display: inline-block;
    	padding: 10px;
}

img {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.img-container {
  float: left;
  width: 50%;
  padding: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
