* {
	font-family: "Arial Rounded MT Bold", Verdana, Geneva, sans-serif;
  font-color: #333;
}

a:link, a:visited, a:active{
	color: #C3A093;
	text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
	background-color: #121212;
	color: white;
}

h2 {
	margin-left: 22%;
}

hr {
	border: 1px solid black;
	width: 600px;
	border-radius: 10px;
	margin: 0;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

li {
	display: inline;
}

li a{
	display: inline-block;
	padding: 10px;
}

p {
	font-size: 135%;
 	margin-left: 25%;
  margin-right: 25%;
}

p.lastParagraph {
	padding-bottom: 60px;
}

p.linkArrow {
	font-size: 300%;
}


ul {
	background-color: #383739;
	border-width: 0;
	list-style: none;
	margin: 4px;
	padding: 10px;
	text-align: center;
}

#email {
  margin-left: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.header {
	padding: 4px;
	text-align: center;
}

.img-container {
  float: left;
  width: 50%;
  padding: 10px;
}

.title {
	margin-left: 19%;
}	

