* {
	font-family: "Arial Rounded MT Bold", Verdana, Geneva, sans-serif;
  font-color: black;
}

a:link, a:visited, a:active {
	color: #DF931D;
	text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
	background-color: #FFFAF0;
	color: black;
	padding-bottom: 200px;
}

h1 {
	text-align: center;
}

h2 {
	color: #A0A0A0;
	margin-left: 25%;
	text-align: left;
	width: 60%;
}

hr {
	border: 2px solid #A0A0A0;
	width: 53%;
	margin-left: 25%;
	margin-top: 2px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

li {
	display: inline;
}

li a{
	display: inline-block;
	padding: 10px;
}

p {
	font-size: 1.5em;
 	margin-left: 25%;
  margin-right: 25%;
}

ul {
	background-color: #fcf3d4;
	border-width: 0;
	list-style: none;
	margin: 4px;
	padding: 10px;
	text-align: center;
}

#email {
  margin-left: 15px;
}

.header {
	padding: 4px;
	text-align: center;
}

.collapsible {
  background-color: #383739;
  border: none;
  border-radius: 8px;
  color: #F0B263;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4em;
  outline: none;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 11px;
  padding-right: 11px;
  text-align: left;
}

.active, .collapsible:hover {
	background-color: #555;
	text-decoration: underline;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.title {
	margin-left: auto;
	text-align: center;
}

@media only screen and (orientation: portrait) {
	.collapsible {
		border-radius: 14px;
		font-size: 1.6em;
	  margin-bottom: 40px;
	  margin-top: 25px;
	  margin-left: 10%;
		padding-top: 25px;
	  padding-bottom: 25px;
	  padding-left: 30px;
	  padding-right: 30px;
	}

  h2 {
    margin-left: 10%;
    width: 60%;
  }
  
  hr {
    width: 80%;
    margin-left: 10%;
  }
  
  li a{
		padding-left: 15px;
		padding-right: 15px;
	}

	p {
	  margin-left: 10%;
	  margin-right: 10%;
	}

	ul {
  	font-size:1.4em;
	}
}

@media (prefers-color-scheme: dark) {
	@media only screen and (orientation: portrait) {
		.collapsible {
			border-radius: 14px;
			font-size: 1.6em;
		  margin-bottom: 40px;
		  margin-top: 25px;
		  margin-left: 10%;
			padding-top: 25px;
		  padding-bottom: 25px;
		  padding-left: 30px;
		  padding-right: 30px;
		}

		h2 {
		  margin-left: 10%;
		  width: 60%;
		}

		hr {
		  width: 80%;
		  margin-left: 10%;
		}

		li a{
			padding-left: 15px;
  		padding-right: 15px;
  	}

		p {
		  margin-left: 10%;
		  margin-right: 10%;
		}

		ul {
    	font-size:1.4em;
  	}
	}

  * {
    font-color: #333;
  }

  a:link, a:visited, a:active {
    color: #F0B263;
  }

  body {
    background-color: #121212;
    color: white;
  }

  h2 {
    color: #B0B0B0;
  }

  hr {
    border: 2px solid #B0B0B0;
  }

  ul {
    background-color: #383739;
  }

  .tag {
    background: #D2BB9E;
  }

  .collapsible {
    background-color: #383739;
    color: #F0B263;
  }

  .active, .collapsible:hover {
    background-color: #555;
  }
}
