<!DOCTYPE html>
<html lang="en-US">
<link rel="icon" 
      type="image/png" 
      href="https://simonoh.me/images/favicon.png">
<html>

<head>
	<script src="https://kit.fontawesome.com/b8cacf592d.js" crossorigin="anonymous"></script>
    	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
  
<body>
	<div>
		 <h1 title="simonoh.me"><a href="http://simonoh.me"> <img src="https://raw.githubusercontent.com/simon0h/simon0h.github.io/master/images/favicon.png" alt="logo" width="50" height="50"> </a></h1>
 	</div>
	<div>
		<ul>
			<li><a href="/about">About</a></li>
			<!-- <li><a href="/blog">Blog</a></li> -->
			<li><a href="/projects">Projects</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/privacy">Privacy</a></li>
		</ul>
	</div>
 	<div>
 		{{ content }}
	</div>  
</body>

</html>
